@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
}
nav{
    background-color: #9376e0;
    padding: 1rem;
}
.nav-container{
    min-height: 50px;
    display: flex;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
}
.logo-container{
    display: flex;
    width: 50%;
    justify-content: flex-start;
    align-items: center;
}
.logo-container img{
    width: 50px;
    object-fit:cover;
}
.logo-container p{
    font-size: 30px;
    color: #fff;
}
.hive-color{
    color:#e893cf ;
}
.nav-item-container{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-item-container a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
.login-btn{
    background-color: #e893cf;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: 700; 
}
.nav-item-container .login-btn{
    color: black;
}