 @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Lato:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
}
nav{
    background-color: #9376e0;
    padding: 1rem;
}
.nav-container{
    min-height: 50px;
    display: flex;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
}
.logo-container{
    display: flex;
    width: 50%;
    justify-content: flex-start;
    align-items: center;
}
.logo-container img{
    width: 50px;
    object-fit:cover;
}
.logo-container p{
    font-size: 30px;
    color: #fff;
}
.hive-color{
    color:#e893cf ;
}
.nav-item-container{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-item-container a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
.login-btn{
    background-color: #e893cf;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: 700; 
}
.nav-item-container .login-btn{
    color: black;
}
/* nav design ends here  */
.banner-container{
    margin: 50px auto 0;
    max-width: 1400px;
    min-height: 50px;
    display: flex;
    background-color: #EAE8EA;
    border-radius: 8px;
    padding: 0.7rem;
}
.banner-text{
    width: 50%;  
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-text h1{
    background: linear-gradient(to bottom, #9376E0, #E893CF);
    color: transparent;
    -webkit-background-clip: text;
    font-size: 50px;
}
.banner-text p{
    font-size: 45px;
    font-family: 'Dancing Script', cursive;
}
.banner-img{
    width: 50%;
}
.banner-img img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
.fa-brands{
    font-size: 50px;
}
.fa-facebook{
    color: #1877F2;
}
.fa-twitter{
    color: #1DA1F2;
}
.fa-youtube{
    color: #FF0000;
}
.fa-square-instagram{
    color: #EA4A55;
}
.banner-text .icons{
    display: flex;
    gap: 3rem;
}
.btn-container{
    display: flex;
    gap: 2rem;
}
.banner-btn{
    background-color: transparent;
    padding: 10px 20px;
    border: 2px solid #9376E0;
    border-radius: 8px;
}
/* banner section design ends here  */
/* product section style starts here  */
.grid-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    max-width: 1400px;
    margin:50px auto;
    min-height: 400px;
}
.product{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color:#EAE8EA ;
    border-radius: 10px;
    padding: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.product img{
    width: 70%;
    display: block;
    margin: 0 auto;
}
.product-icon-container{
    display: flex;
    justify-content: space-between;
    
}
.product-icon-container span{
    padding: 5px;
    background-color: #9376e0;
    border-radius: 50%;
    margin-left: 5px;
    color: white;
}
.product-icon{
    font-size: 20px;
}
/* product section ends starts here  */
/* discount section starts here  */
.discount-section{
    background-color: #9376E0;
    min-height: 500px;
    padding: 20px 0;
    margin: 4.5rem 0;
    padding: 3rem;
}
.discount-container{
    max-width: 1400px;
    margin: 0 auto;
    min-height: 200px;
    display: flex;
    align-items: center;
}
.discount-img{
    width: 50%;
    position: relative;
}
.discount-img img{
    width: 70%;
    height: 100%;
    display: block;
    margin: 0 auto;

}
.discount-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: 30px;
}
.discount-text button{
    padding: 0.5rem;
    font-weight: 700;
    border: 2px solid white;
    background-color: transparent;
}
.discount-number{
    background-color: #f8c10a;
    height: 80px;
    width: 80px;
    font-size: 30px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5%;
    right: 18%;
}